<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akilsw.waky.denti">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/denty_logo_circle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".SubjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".CreateScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".CreateResourceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ImageViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme.ImageViewer" />

        <activity android:name=".SubjectsActivity"
            android:theme="@style/CommonTheme" />

        <activity
            android:name=".ReceiveShareActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SyncActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".ActivityReceiver">
            <intent-filter>
                <action android:name="com.akilsw.waky.activity_receiver" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".SessionReceiver">
            <intent-filter>
                <action android:name="com.akilsw.waky.session_receiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="com.akilsw.waky.daily_digest_receiver" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>